.todo-list{
    margin-top: 10px;
}
.list li{
    margin:2px;
    background-color: rgb(207, 164, 229);
    border-radius: 10px;
    display:inline-block;
    width:300px;
    padding: 10px 10px;
    margin:3px 3x;
}

.task{
    font-size: 20px;
}

.list input:hover{
    cursor: pointer;
}
.dlt-btn:hover{
    cursor: pointer;
    color: red;
}
