.Page{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .my-component {
    background-size: contain;
    background-position: center;
  }
}
